<ng-template #content let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">Atención</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p>Vas a cerrar la sesión. ¿Estás seguro de lo que haces?</p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-light" (click)="c('logout')">OK</button>
    <button type="button" class="btn btn-light" (click)="c('cancel')">Cancelar</button>
  </div>
</ng-template>

<form *ngIf="authService.isLoggedIn" class="form-inline my-2 my-lg-0">
  <button (click)="confirm()" class="btn btn-outline-success my-2 my-sm-0">Logout</button>
</form>