<div class="row">
  <div class="col-3">
    <h2>Usuarios</h2>
  </div>
  <div *ngIf="!editMode" class="col">
    <button (click)="showForm()" type="button" class="btn btn-success">Añadir</button>
  </div>
</div>


<p *ngIf="message">
  <ngb-alert type="success" [dismissible]="false">
    <strong>Olé!</strong> {{message}}
  </ngb-alert>
</p>

<p *ngIf="errorMessage">
  <ngb-alert type="danger" [dismissible]="false">
    <strong>Ooohhh!</strong> {{errorMessage}}
  </ngb-alert>
</p>

<table *ngIf="!editMode" class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Username</th>
      <th scope="col">Email</th>
      <th scope="col">Grupos</th>
      <th scope="col">Acciones</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let user of users">
      <th scope="row">{{ user.id }}</th>
      <td>{{ user.username }}</td>
      <td>{{user.email}}</td>
      <td>
        <span *ngFor="let group of user.groups"> {{group.name}} </span>
      </td>
      <td>
        <button (click)="showForm(user)" class="btn btn-primary">editar</button>
        <button (click)="confirmDelete(user, modal)" class="btn btn-danger">borrar</button>
      </td>
    </tr>
  </tbody>
</table>

<ng-template #modal let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">Atención</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p>Vas a cerrar eliminar al usuario {{activeUser.username}}. ¿Estás seguro de lo que haces?</p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-light" (click)="c('delete')">OK</button>
    <button type="button" class="btn btn-light" (click)="c('cancel')">Cancelar</button>
  </div>
</ng-template>

<div *ngIf="editMode">

  <form (ngSubmit)="createOrUpdate()" #userForm="ngForm" class="form-horizontal" role="form" method="POST" action="/register">
    <div class="row">
      <div class="col-md-3"></div>
      <div class="col-md-6">
        <h2>Usuario</h2>
        <hr>
      </div>
    </div>

    <div class="row">
      <div class="col-md-3 field-label-responsive">
        <label for="group">Username</label>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <div class="input-group mb-2 mr-sm-2 mb-sm-0">
            <div class="input-group-addon" style="width: 2.6rem">
              <i class="fa fa-group"></i>
            </div>
            <input [(ngModel)]="activeUser.username" #username="ngModel" type="text" name="username" class="form-control" id="username"
              placeholder="Juanda" required minlength="4" autofocus>
          </div>
        </div>
      </div>
      <div *ngIf="username.invalid && (username.dirty || username.touched)" class="col-md-3">
        <div class="form-control-feedback">
          <span *ngIf="username.errors.required" class="text-danger align-middle">
            No se puede quedar vacío
          </span>
          <span *ngIf="username.errors.minlength" class="text-danger align-middle">
            El nombre debe tener al menos 4 caracteres
          </span>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-3 field-label-responsive">
        <label for="group">Email</label>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <div class="input-group mb-2 mr-sm-2 mb-sm-0">
            <div class="input-group-addon" style="width: 2.6rem">
              <i class="fa fa-group"></i>
            </div>
            <input [(ngModel)]="activeUser.email" #email="ngModel" type="text" name="email" class="form-control" id="email" placeholder="juanda@kaka.es"
              required email autofocus>
          </div>
        </div>
      </div>
      <div *ngIf="email.invalid && (email.dirty || email.touched)" class="col-md-3">
        <div class="form-control-feedback">
          <span *ngIf="email.errors.required" class="text-danger align-middle">
            No se puede quedar vacío
          </span>
          <span *ngIf="email.errors.email" class="text-danger align-middle">
            Email inválido
          </span>
        </div>
      </div>
    </div>


    <div class="row">
      <div class="col-md-3 field-label-responsive">
        <label for="group">Grupos</label>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <div class="input-group mb-2 mr-sm-2 mb-sm-0">
            <div class="input-group-addon" style="width: 2.6rem">
              <i class="fa fa-group"></i>
            </div>
            <select [compareWith]="compareGroup" [(ngModel)]="activeUser.groups" name="groups" class="form-control" multiple>
              <option [selected]="true" [ngValue]="{}">Ningún grupo</option>
              <option *ngFor="let group of groups" [ngValue]="group">{{group.name}}</option>
            </select>
          </div>
        </div>
      </div>
    </div>

    {{activeUser.groups | json}}



    <div class="row">
      <div class="col-md-3"></div>
      <div class="col-md-6">
        <button [disabled]="!userForm.valid" type="submit" class="btn btn-success">
          <i class="fa fa-user-plus"></i> Enviar</button>
      </div>
    </div>
  </form>
</div>