<div class="row">
  <div class="col-2">
    <h2>Grupos</h2>
  </div>
  <div class="col">
    <button (click)="showForm()" type="button" class="btn btn-success">Añadir</button>
  </div>
</div>


<p *ngIf="message">
  <ngb-alert type="success" [dismissible]="false">
    <strong>Olé!</strong> {{message}}
  </ngb-alert>
</p>

<p *ngIf="errorMessage">
  <ngb-alert type="danger" [dismissible]="false">
    <strong>Ooohhh!</strong> {{errorMessage}}
  </ngb-alert>
</p>

<table *ngIf="!editMode" class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Nombre</th>
      <th scope="col">Acciones</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let group of groups">
      <th scope="row">{{ group.id }}</th>
      <td>{{ group.name }}</td>
      <td>
        <button (click)="showForm(group)" class="btn btn-primary">editar</button>
        <button (click)="confirmDelete(group, modal)" class="btn btn-danger">borrar</button>
      </td>
    </tr>
  </tbody>
</table>

<ng-template #modal let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">Atención</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p>Vas a cerrar eliminar al grupo {{activeGroup.name}}. ¿Estás seguro de lo que haces?</p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-light" (click)="c('delete')">OK</button>
    <button type="button" class="btn btn-light" (click)="c('cancel')">Cancelar</button>
  </div>
</ng-template>

<div *ngIf="editMode">

  <form (ngSubmit)="createOrUpdate()" #groupForm="ngForm" class="form-horizontal" role="form" method="POST" action="/register">
    <div class="row">
      <div class="col-md-3"></div>
      <div class="col-md-6">
        <h2>Grupo</h2>
        <hr>
      </div>
    </div>

    <div class="row">
      <div class="col-md-3 field-label-responsive">
        <label for="group">Nombre</label>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <div class="input-group mb-2 mr-sm-2 mb-sm-0">
            <div class="input-group-addon" style="width: 2.6rem">
              <i class="fa fa-group"></i>
            </div>
            <input [(ngModel)]="activeGroup.name" #name="ngModel" type="text" name="name" class="form-control" id="name" placeholder="El equipo A"
              required minlength="4" autofocus>
          </div>
        </div>
      </div>
      <div *ngIf="name.invalid && (name.dirty || name.touched)" class="col-md-3">
        <div class="form-control-feedback">
          <span *ngIf="name.errors.required" class="text-danger align-middle">
            No se puede quedar vacío
          </span>
          <span *ngIf="name.errors.minlength" class="text-danger align-middle">
            El nombre debe tener al menos 4 caracteres
          </span>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-3"></div>
      <div class="col-md-6">
        <button [disabled]="!groupForm.valid" type="submit" class="btn btn-success">
          <i class="fa fa-user-plus"></i> Enviar</button>
      </div>
    </div>
  </form>
</div>