<ul class="nav">
  <li class="nav-item">
    <a class="nav-link active" routerLink="usuarios" routerActive="active">Usuarios</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="grupos" routerActive="active">Grupos</a>
  </li>
</ul>

<router-outlet></router-outlet>