<div *ngIf="errorMessage" class="alert alert-danger" role="alert">
  {{errorMessage}}
</div>  

<div class="loginmodal-container">
  <h1>Identificación</h1>
  <br>
  <form (ngSubmit)="checkUser()" #loginForm="ngForm">
    <input [(ngModel)]="username" type="text" name="username" placeholder="Username">
    <input [(ngModel)]="password" type="password" name="password" placeholder="Password">
    <input type="submit" name="login" class="login loginmodal-submit" value="Login">
  </form>

  {{loginForm.value | json}}

  <div class="login-help">
    <a routerLink="/register">¿No tienes cuenta?. Registrate!</a>
  </div>
</div>