<p *ngIf="message">
  <ngb-alert type="success" [dismissible]="false">
    <strong>Olé!</strong> {{message}}
  </ngb-alert>
</p>

<p *ngIf="errorMessage">
  <ngb-alert type="danger" [dismissible]="false">
    <strong>Ooohhh!</strong> {{errorMessage}}
  </ngb-alert>
</p>


<form (ngSubmit)="register()" #registerForm="ngForm" class="form-horizontal" role="form" method="POST" action="/register">
  <div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6">
      <h2>Registro de usuario</h2>
      <hr>
    </div>
  </div>

  <div class="row">
    <div class="col-md-3 field-label-responsive">
      <label for="name">Username</label>
    </div>
    <div class="col-md-6">
      <div class="form-group">
        <div class="input-group mb-2 mr-sm-2 mb-sm-0">
          <div class="input-group-addon" style="width: 2.6rem">
            <i class="fa fa-user"></i>
          </div>
          <input [(ngModel)]="user.username" #username="ngModel" type="text" name="username" class="form-control" id="username" placeholder="John Doe"
            required minlength="4" autofocus>
        </div>
      </div>
    </div>
    <div *ngIf="username.invalid && (username.dirty || username.touched)" class="col-md-3">
      <div class="form-control-feedback">
        <span *ngIf="username.errors.required" class="text-danger align-middle">
          No se puede quedar vacío
        </span>
        <span *ngIf="username.errors.minlength" class="text-danger align-middle">
          El username debe tener al menos 4 caracteres
        </span>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-3 field-label-responsive">
      <label for="email">E-Mail</label>
    </div>
    <div class="col-md-6">
      <div class="form-group">
        <div class="input-group mb-2 mr-sm-2 mb-sm-0">
          <div class="input-group-addon" style="width: 2.6rem">
            <i class="fa fa-at"></i>
          </div>
          <input [(ngModel)]="user.email" #email="ngModel" type="email" name="email" class="form-control" id="email" placeholder="you@example.com"
            required email autofocus>
        </div>
      </div>
    </div>
    <div *ngIf="email.invalid && (email.dirty || email.touched)" class="col-md-3">
      <div class="form-control-feedback">
        <span *ngIf="email.errors.required" class="text-danger align-middle">
          Debes proporcionar un email |
        </span>
        <span *ngIf="email.errors.email" class="text-danger align-middle">
          Email inválido
        </span>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-3 field-label-responsive">
      <label for="password">Password</label>
    </div>
    <div class="col-md-6">
      <div class="form-group has-danger">
        <div class="input-group mb-2 mr-sm-2 mb-sm-0">
          <div class="input-group-addon" style="width: 2.6rem">
            <i class="fa fa-key"></i>
          </div>
          <input [(ngModel)]="cleanPassword" #cleanpassword="ngModel" type="password" name="cleanPassword" class="form-control" id="password"
            placeholder="Password" required>
        </div>
      </div>
    </div>
    <div *ngIf="cleanpassword.invalid && (cleanpassword.dirty || cleanpassword.touched) " class="col-md-3">
      <div class="form-control-feedback">
        <span class="text-danger align-middle">
          El password no puede dejarse vacío
        </span>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-3 field-label-responsive">
      <label for="password">Confirm Password</label>
    </div>
    <div class="col-md-6">
      <div class="form-group">
        <div class="input-group mb-2 mr-sm-2 mb-sm-0">
          <div class="input-group-addon" style="width: 2.6rem">
            <i class="fa fa-repeat"></i>
          </div>
          <input [(ngModel)]="cleanPasswordConfirm" #cleanpasswordconfirm="ngModel" type="password" name="cleanPasswordConfirm" class="form-control"
            id="password-confirm" placeholder="Password" required appValidateEqual="cleanPassword">
        </div>
      </div>
    </div>

    <div *ngIf="cleanpasswordconfirm.invalid && (cleanpasswordconfirm.dirty || cleanpasswordconfirm.touched) " class="col-md-3">
      <div class="form-control-feedback">
        <span *ngIf="cleanpasswordconfirm.errors.required" class="text-danger align-middle">
          El password no puede dejarse vacío
        </span>
        <span *ngIf="cleanpasswordconfirm.errors.appValidateEqual" class="text-danger align-middle">
          Los passwords no coinciden
        </span>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6">
      <button [disabled]="!registerForm.valid" type="submit" class="btn btn-success">
        <i class="fa fa-user-plus"></i> Registrar</button>
    </div>
  </div>
</form>